*{
    margin: 0;
    box-sizing: border-box;
}


.customer_register_bg{
    height: 100vh;
    max-width: 100%;
    background-image: linear-gradient(to top, rgba(63, 163, 197, 0.4) 0%, rgba(137, 179, 205, 0.537)), url(/public/pexels-photoscom-93398.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer_register_container{
    
    background-image: linear-gradient(-225deg, rgba(141, 185, 202, 0.75), rgba(142, 163, 186, 0.75)), url("https://transparenttextures.com/patterns/cubes.png");
    width: 70rem;
    height: 40em;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 39px 11px rgba(0, 0, 0, 0.464),0px 10px 15px -3px rgba(0,0,0,0.1);
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}

.customer_register_icon{
    height: 10;
    width: 14rem;
}

.customer_register_logo{
    display: flex;
    justify-content: center;
}

.customer_register_form {
    display: flex;
    flex-direction: column;
    height: 30em;
    margin-top: 20px;
    width: 80%;
}

.customer_register_form_input {
    background-color: rgb(229, 226, 226);
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    height: 3em;
    padding: 1em;
    width: 98%;
}

.customer_register_form_input:focus {
    outline: 1;
    outline-color: rgb(32, 177, 255);
}

.customer_register_form_input_span {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

/* ---------------CUSTOMER Register PAGE BUTTON---------------*/

 .customer_register_btn{
    color: #333;
    background-image: linear-gradient(91.9deg, rgba(75,207,250,1) 6.3%, rgba(25,159,249,1) 98.9%);
    font-size: 1.2rem;
    border-width: 0;
    border-radius: 5px;
    padding: 0.4rem;
    text-align: center;
    width: 6.5rem;
    margin: 5px;
    margin-right: 10px;
    cursor: pointer;
    margin-top: -10px;
}

.customer_register_btn:link, .customer_register_btn:visited {
    color: #333;
    background-image: linear-gradient(111.8deg, rgba(0,104,155,1) 19.8%, rgba(0,173,239,1) 92.1%);
    text-decoration: none;
    transition: all 1s ease-in-out;
}

.customer_register_btn:hover, .customer_register_btn:active {
    color: #fff;
    background-image: linear-gradient(91.9deg, rgba(75,207,250,1) 6.3%, rgba(25,159,249,1) 98.9%);
    transform: scale(1.2);
}

/* --------------- CUSTOMER Register Progress Bar ---------------*/

.progress_bar {
    width: 95%;
    height: 15px;
    background-color: #fff;
    margin: 5px;
}
  
.progress_bar_div {
    width: 33.3%;
    height: 100%;
    background-image: linear-gradient(111.8deg, rgba(0,104,155,1) 19.8%, rgba(0,173,239,1) 92.1%);
    border-radius: 10px;
} 